.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
  }
  
  .content {
    padding: 20px;
    border: 3px solid aquamarine;
    width: 300px;
    height: 450px;
    position: relative;
    left: 300px;
    bottom: 550px;
    border-radius: 10%;
    max-width: 300px;
    width: 100%;
    margin-top: auto;
  }
  .content ul{
    color: aliceblue;
    display: flex;
    margin: 10px;
    margin-right: 20px;
    flex-wrap: wrap;
    padding: 0;
  }
  
 
  @media (max-width: 768px) {
    .content {
      max-width: 400px;
    }
  }
  
  @media (max-width: 576px) {
    .content {
      max-width: 300px;
    }
  }
  